@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body{
  margin:0;
  background:#0A0A0A;
  color:#EAEAEA;
  font-family:'VT323', monospace;
}

.app{
  min-height:100vh;
  width:100%;
  display:flex;
  justify-content:center;
  align-items:center;
}

.panel{
  width:850px;
  max-width:90%;
  padding:50px;

  border:3px solid #00F5FF;

  box-shadow:
    0 0 15px #00F5FF,
    0 0 30px #00F5FF;
}

.title{
  font-size:5rem;

  text-align:center;

  color:#00F5FF;

  text-shadow:
    0 0 10px #00F5FF,
    0 0 20px #00F5FF;

  margin-bottom:10px;
}

.subtitle{
  text-align:center;

  color:#FF2D95;

  letter-spacing:3px;

  font-size:1.7rem;

  margin-bottom:35px;
}

.password-input:focus{
  box-shadow:0 0 15px #00F5FF;
}

.input-container{
  position: relative;
  width: 100%;
}

.password-input{
  width: 100%;
  padding: 15px 60px 15px 15px; /* space on right for eye */

  font-size: 1.5rem;

  background: #111;
  color: white;

  border: 2px solid #00F5FF;
  outline: none;

  letter-spacing: 2px;

  box-sizing: border-box;
}

.eye-button{
  position: absolute;

  right: 18px;
  top: 50%;

  transform: translateY(-50%);

  background: transparent;
  border: none;

  cursor: pointer;

  color: #FF2D95;
  font-size: 1.8rem;

  padding: 0;
  margin: 0;

  z-index: 10;
}


.meter-container{
  width:100%;
  height:25px;

  margin-top:25px;

  border:2px solid #00F5FF;

  background:#111;

  overflow:hidden;
}

.meter-fill{
  height:100%;
  transition:all 0.4s ease;
}

.strength-label{
  margin-top:20px;

  text-align:center;

  font-size:2rem;

  color:#39FF14;

  text-shadow:0 0 10px #39FF14;
}

.entropy-display{
  margin-top:15px;

  text-align:center;

  font-size:1.7rem;

  color:#FFB000;

  text-shadow:0 0 10px #FFB000;
}

.feedback-container{
  margin-top:25px;
}

.feedback-card{
  margin-bottom:12px;

  padding:12px;

  border:2px solid #FF2D95;

  color:#FF2D95;

  background:rgba(255,45,149,0.08);

  box-shadow:0 0 8px #FF2D95;

  font-size:1.3rem;
}

.meter-labels{
  display:flex;
  justify-content:space-between;

  margin-top:25px;
  margin-bottom:8px;

  font-size:1.2rem;
}

.meter-labels span:nth-child(1){
  color:#FF3131;
}

.meter-labels span:nth-child(2){
  color:#FFB000;
}

.meter-labels span:nth-child(3){
  color:#39FF14;
}

.app::before{
  content:"";

  position:fixed;
  inset:0;

  pointer-events:none;

  background:
    repeating-linear-gradient(
      to bottom,
      rgba(0,245,255,0.03) 0px,
      rgba(0,245,255,0.03) 2px,
      transparent 2px,
      transparent 4px
    );

  animation:scanline 8s linear infinite;
}

@keyframes scanline{
  from{
    transform:translateY(0);
  }

  to{
    transform:translateY(100px);
  }
}

.report-container{
  margin-top:30px;

  border:2px solid #39FF14;

  padding:20px;

  background:rgba(57,255,20,0.05);

  box-shadow:0 0 10px #39FF14;
}

.report-title{
  color:#39FF14;

  font-size:2rem;

  margin-bottom:15px;

  text-align:center;
}

.report-item{
  color:#FF2D95;

  margin-bottom:10px;

  font-size:1.3rem;
}

.report-success{
  color:#39FF14;

  text-align:center;

  font-size:1.5rem;
}

.active-weak{
  text-shadow:0 0 15px #FF3131;
}

.active-medium{
  text-shadow:0 0 15px #FFB000;
}

.active-strong{
  text-shadow:0 0 15px #39FF14;
}

